@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root.light {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 30,33,36;
    --background-end-rgb: 30,33,36;

    /* Custom Colors */
    --bg-primary: 30 33 36;
    --bg-secondary: 173 136 198;
    --bg-peach: 225 175 209;
    --bg-light-purple: 173 136 198;
    --bg-purple: 116 105 182;

    --dark-purple: 58 49 83;

    --text-primary: 1 1 1;
    --text-secondary: 254 253 253;
    --text-accent: 255 230 230;

    --card-border: 30 30 30;
  }

  :root.dark {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    /* Custom Colors (Currently Same as Light) */
    --bg-primary: 254 253 253;
    --bg-secondary: 173 136 198;
    --bg-peach: 225 175 209;
    --bg-light-purple: 173 136 198;
    --bg-purple: 116 105 182;

    --dark-purple: 58 49 83;

    --text-primary: 1 1 1;
    --text-secondary: 254 253 253;
    --text-accent: 255 230 230;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom right,
    rgba(var(--background-start-rgb)),
    rgba(var(--background-end-rgb))
  );
  /* background: linear-gradient(
      to bottom right,
      rgba(var(--background-start-rgb), 75%) 25%,
      rgba(var(--background-end-rgb), 50%)
    ); */
}

@property --scrollbar {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(30, 33, 36);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(116, 105, 182, 0.35);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(116, 105, 182, 0.35);
}
